body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1580px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3822 {
  position:absolute;
  left:31px;
  top:20px;
  width:1024px;
  height:768px;
}
#u3823 {
  position:absolute;
  left:2px;
  top:376px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:64px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3824 {
  position:absolute;
  left:31px;
  top:20px;
  width:1024px;
  height:64px;
}
#u3825 {
  position:absolute;
  left:2px;
  top:24px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:566px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u3826 {
  position:absolute;
  left:91px;
  top:39px;
  width:566px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u3827 {
  position:absolute;
  left:0px;
  top:0px;
  width:566px;
  word-wrap:break-word;
}
#u3828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u3828 {
  position:absolute;
  left:46px;
  top:38px;
  width:37px;
  height:37px;
}
#u3829 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:55px;
}
#u3830 {
  position:absolute;
  left:967px;
  top:29px;
  width:44px;
  height:55px;
}
#u3831 {
  position:absolute;
  left:2px;
  top:20px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:694px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3832 {
  position:absolute;
  left:31px;
  top:94px;
  width:214px;
  height:694px;
}
#u3833 {
  position:absolute;
  left:2px;
  top:339px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#000000;
}
#u3834 {
  position:absolute;
  left:101px;
  top:202px;
  width:113px;
  height:33px;
  font-size:28px;
  color:#000000;
}
#u3835 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u3836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#000000;
}
#u3836 {
  position:absolute;
  left:101px;
  top:132px;
  width:113px;
  height:33px;
  font-size:28px;
  color:#000000;
}
#u3837 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u3838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#000000;
}
#u3838 {
  position:absolute;
  left:101px;
  top:272px;
  width:141px;
  height:28px;
  font-size:28px;
  color:#000000;
}
#u3839 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u3840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#000000;
}
#u3840 {
  position:absolute;
  left:103px;
  top:551px;
  width:113px;
  height:33px;
  font-size:28px;
  color:#000000;
}
#u3841 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u3842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#000000;
}
#u3842 {
  position:absolute;
  left:103px;
  top:481px;
  width:113px;
  height:33px;
  font-size:28px;
  color:#000000;
}
#u3843 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u3844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#000000;
}
#u3844 {
  position:absolute;
  left:103px;
  top:342px;
  width:113px;
  height:33px;
  font-size:28px;
  color:#000000;
}
#u3845 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u3846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#0000FF;
}
#u3846 {
  position:absolute;
  left:103px;
  top:411px;
  width:113px;
  height:33px;
  font-size:28px;
  color:#0000FF;
}
#u3847 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u3848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u3848 {
  position:absolute;
  left:770px;
  top:44px;
  width:187px;
  height:28px;
  font-size:20px;
  color:#000000;
}
#u3849 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u3850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#000000;
}
#u3850 {
  position:absolute;
  left:103px;
  top:621px;
  width:113px;
  height:33px;
  font-size:28px;
  color:#000000;
}
#u3851 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u3852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:40px;
}
#u3852 {
  position:absolute;
  left:41px;
  top:132px;
  width:49px;
  height:40px;
}
#u3853 {
  position:absolute;
  left:2px;
  top:12px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:44px;
}
#u3854 {
  position:absolute;
  left:20px;
  top:200px;
  width:90px;
  height:44px;
}
#u3855 {
  position:absolute;
  left:2px;
  top:14px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:34px;
}
#u3856 {
  position:absolute;
  left:20px;
  top:274px;
  width:81px;
  height:34px;
}
#u3857 {
  position:absolute;
  left:2px;
  top:9px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
}
#u3858 {
  position:absolute;
  left:33px;
  top:338px;
  width:65px;
  height:42px;
}
#u3859 {
  position:absolute;
  left:2px;
  top:13px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:43px;
}
#u3860 {
  position:absolute;
  left:38px;
  top:406px;
  width:52px;
  height:43px;
}
#u3861 {
  position:absolute;
  left:2px;
  top:14px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:42px;
}
#u3862 {
  position:absolute;
  left:20px;
  top:472px;
  width:86px;
  height:42px;
}
#u3863 {
  position:absolute;
  left:2px;
  top:13px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:57px;
}
#u3864 {
  position:absolute;
  left:39px;
  top:537px;
  width:47px;
  height:57px;
}
#u3865 {
  position:absolute;
  left:2px;
  top:20px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:46px;
}
#u3866 {
  position:absolute;
  left:32px;
  top:616px;
  width:65px;
  height:46px;
}
#u3867 {
  position:absolute;
  left:2px;
  top:15px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3868 {
  position:absolute;
  left:273px;
  top:119px;
  width:97px;
  height:1px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3869 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u3870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:796px;
  height:631px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3870 {
  position:absolute;
  left:259px;
  top:157px;
  width:796px;
  height:631px;
}
#u3871 {
  position:absolute;
  left:2px;
  top:308px;
  width:792px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3872 {
  position:absolute;
  left:310px;
  top:237px;
  width:685px;
  height:252px;
}
#u3873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:48px;
}
#u3873 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:48px;
  font-size:18px;
}
#u3874 {
  position:absolute;
  left:2px;
  top:13px;
  width:148px;
  word-wrap:break-word;
}
#u3875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:48px;
}
#u3875 {
  position:absolute;
  left:152px;
  top:0px;
  width:100px;
  height:48px;
  font-size:18px;
}
#u3876 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u3877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:48px;
}
#u3877 {
  position:absolute;
  left:252px;
  top:0px;
  width:172px;
  height:48px;
  font-size:18px;
}
#u3878 {
  position:absolute;
  left:2px;
  top:13px;
  width:168px;
  word-wrap:break-word;
}
#u3879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:48px;
}
#u3879 {
  position:absolute;
  left:424px;
  top:0px;
  width:256px;
  height:48px;
  font-size:18px;
}
#u3880 {
  position:absolute;
  left:2px;
  top:13px;
  width:252px;
  word-wrap:break-word;
}
#u3881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:73px;
}
#u3881 {
  position:absolute;
  left:0px;
  top:48px;
  width:152px;
  height:73px;
  font-size:18px;
}
#u3882 {
  position:absolute;
  left:2px;
  top:28px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:73px;
}
#u3883 {
  position:absolute;
  left:152px;
  top:48px;
  width:100px;
  height:73px;
  font-size:18px;
}
#u3884 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u3885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:73px;
}
#u3885 {
  position:absolute;
  left:252px;
  top:48px;
  width:172px;
  height:73px;
  font-size:18px;
}
#u3886 {
  position:absolute;
  left:2px;
  top:26px;
  width:168px;
  word-wrap:break-word;
}
#u3887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:73px;
}
#u3887 {
  position:absolute;
  left:424px;
  top:48px;
  width:256px;
  height:73px;
  font-size:18px;
}
#u3888 {
  position:absolute;
  left:2px;
  top:28px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:60px;
}
#u3889 {
  position:absolute;
  left:0px;
  top:121px;
  width:152px;
  height:60px;
  font-size:18px;
}
#u3890 {
  position:absolute;
  left:2px;
  top:22px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3891 {
  position:absolute;
  left:152px;
  top:121px;
  width:100px;
  height:60px;
  font-size:18px;
}
#u3892 {
  position:absolute;
  left:2px;
  top:19px;
  width:96px;
  word-wrap:break-word;
}
#u3893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:60px;
}
#u3893 {
  position:absolute;
  left:252px;
  top:121px;
  width:172px;
  height:60px;
  font-size:18px;
}
#u3894 {
  position:absolute;
  left:2px;
  top:19px;
  width:168px;
  word-wrap:break-word;
}
#u3895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:60px;
}
#u3895 {
  position:absolute;
  left:424px;
  top:121px;
  width:256px;
  height:60px;
  font-size:18px;
}
#u3896 {
  position:absolute;
  left:2px;
  top:22px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:66px;
}
#u3897 {
  position:absolute;
  left:0px;
  top:181px;
  width:152px;
  height:66px;
  font-size:18px;
}
#u3898 {
  position:absolute;
  left:2px;
  top:25px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:66px;
}
#u3899 {
  position:absolute;
  left:152px;
  top:181px;
  width:100px;
  height:66px;
  font-size:18px;
}
#u3900 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u3901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:66px;
}
#u3901 {
  position:absolute;
  left:252px;
  top:181px;
  width:172px;
  height:66px;
  font-size:18px;
}
#u3902 {
  position:absolute;
  left:2px;
  top:22px;
  width:168px;
  word-wrap:break-word;
}
#u3903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:66px;
}
#u3903 {
  position:absolute;
  left:424px;
  top:181px;
  width:256px;
  height:66px;
  font-size:18px;
}
#u3904 {
  position:absolute;
  left:2px;
  top:25px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3905 {
  position:absolute;
  left:274px;
  top:316px;
  width:23px;
  height:23px;
}
#u3906 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u3907 {
  position:absolute;
  left:273px;
  top:247px;
  width:28px;
  height:28px;
}
#u3908 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3909 {
  position:absolute;
  left:273px;
  top:378px;
  width:23px;
  height:23px;
}
#u3910 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3911 {
  position:absolute;
  left:349px;
  top:317px;
  width:29px;
  height:16px;
}
#u3912 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:26px;
}
#u3913 {
  position:absolute;
  left:399px;
  top:311px;
  width:31px;
  height:26px;
}
#u3914 {
  position:absolute;
  left:2px;
  top:5px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:46px;
}
#u3915 {
  position:absolute;
  left:273px;
  top:173px;
  width:43px;
  height:46px;
}
#u3916 {
  position:absolute;
  left:2px;
  top:15px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:46px;
}
#u3917 {
  position:absolute;
  left:331px;
  top:172px;
  width:43px;
  height:46px;
}
#u3918 {
  position:absolute;
  left:2px;
  top:15px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:325px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3919 {
  position:absolute;
  left:1080px;
  top:129px;
  width:500px;
  height:325px;
}
#u3920 {
  position:absolute;
  left:2px;
  top:154px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3921 {
  position:absolute;
  left:1095px;
  top:142px;
  width:166px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3922 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u3923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u3923 {
  position:absolute;
  left:1101px;
  top:239px;
  width:89px;
  height:49px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u3924 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u3925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:46px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3925 {
  position:absolute;
  left:1165px;
  top:314px;
  width:305px;
  height:46px;
  font-size:18px;
}
#u3926 {
  position:absolute;
  left:2px;
  top:12px;
  width:301px;
  word-wrap:break-word;
}
#u3927 {
  position:absolute;
  left:1226px;
  top:239px;
  width:285px;
  height:25px;
}
#u3927_input {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u3928 {
  position:absolute;
  left:1095px;
  top:199px;
  width:121px;
  height:49px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u3929 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u3930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:33px;
}
#u3930 {
  position:absolute;
  left:1226px;
  top:199px;
  width:285px;
  height:32px;
}
#u3931 {
  position:absolute;
  left:2px;
  top:8px;
  width:281px;
  word-wrap:break-word;
}
#u3932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:41px;
}
#u3932 {
  position:absolute;
  left:378px;
  top:718px;
  width:544px;
  height:40px;
}
#u3933 {
  position:absolute;
  left:2px;
  top:12px;
  width:540px;
  word-wrap:break-word;
}
#u3934 {
  position:absolute;
  left:295px;
  top:173px;
  width:0px;
  height:0px;
}
#u3934_seg0 {
  position:absolute;
  left:-4px;
  top:-17px;
  width:8px;
  height:17px;
}
#u3934_seg1 {
  position:absolute;
  left:-4px;
  top:-17px;
  width:789px;
  height:8px;
}
#u3934_seg2 {
  position:absolute;
  left:770px;
  top:-23px;
  width:20px;
  height:20px;
}
#u3935 {
  position:absolute;
  left:336px;
  top:-21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3936 {
  position:absolute;
  left:273px;
  top:432px;
  width:23px;
  height:23px;
}
#u3937 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:27px;
}
#u3938 {
  position:absolute;
  left:1517px;
  top:143px;
  width:45px;
  height:27px;
}
#u3939 {
  position:absolute;
  left:2px;
  top:6px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
