body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1940px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u8098 {
  position:absolute;
  left:20px;
  top:20px;
  width:1920px;
  height:1080px;
}
#u8099 {
  position:absolute;
  left:2px;
  top:532px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:56px;
  background:inherit;
  background-color:rgba(12, 79, 101, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8100 {
  position:absolute;
  left:20px;
  top:20px;
  width:1920px;
  height:56px;
}
#u8101 {
  position:absolute;
  left:2px;
  top:20px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u8102 {
  position:absolute;
  left:55px;
  top:29px;
  width:113px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u8103 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u8104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u8104 {
  position:absolute;
  left:1857px;
  top:33px;
  width:57px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u8105 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u8106 {
  position:absolute;
  left:1747px;
  top:33px;
  width:85px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u8107 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u8108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u8108 {
  position:absolute;
  left:1539px;
  top:33px;
  width:113px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u8109 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u8110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:661px;
  background:inherit;
  background-color:rgba(12, 79, 101, 0.607843137254902);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:33px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8110 {
  position:absolute;
  left:1520px;
  top:217px;
  width:394px;
  height:661px;
}
#u8111 {
  position:absolute;
  left:2px;
  top:322px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u8112 {
  position:absolute;
  left:1554px;
  top:247px;
  width:161px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u8113 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u8114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u8114 {
  position:absolute;
  left:1554px;
  top:585px;
  width:161px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u8115 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u8116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:202px;
}
#u8116 {
  position:absolute;
  left:1554px;
  top:648px;
  width:308px;
  height:202px;
}
#u8117 {
  position:absolute;
  left:2px;
  top:93px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:81px;
}
#u8118 {
  position:absolute;
  left:1555px;
  top:305px;
  width:98px;
  height:80px;
}
#u8119 {
  position:absolute;
  left:2px;
  top:32px;
  width:94px;
  word-wrap:break-word;
}
#u8120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:81px;
}
#u8120 {
  position:absolute;
  left:1659px;
  top:305px;
  width:98px;
  height:80px;
}
#u8121 {
  position:absolute;
  left:2px;
  top:32px;
  width:94px;
  word-wrap:break-word;
}
#u8122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:81px;
}
#u8122 {
  position:absolute;
  left:1767px;
  top:305px;
  width:98px;
  height:80px;
}
#u8123 {
  position:absolute;
  left:2px;
  top:32px;
  width:94px;
  word-wrap:break-word;
}
#u8124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:81px;
}
#u8124 {
  position:absolute;
  left:1554px;
  top:391px;
  width:98px;
  height:80px;
}
#u8125 {
  position:absolute;
  left:2px;
  top:32px;
  width:94px;
  word-wrap:break-word;
}
#u8126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:81px;
}
#u8126 {
  position:absolute;
  left:1659px;
  top:391px;
  width:98px;
  height:80px;
}
#u8127 {
  position:absolute;
  left:2px;
  top:32px;
  width:94px;
  word-wrap:break-word;
}
#u8128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:81px;
}
#u8128 {
  position:absolute;
  left:1764px;
  top:391px;
  width:98px;
  height:80px;
}
#u8129 {
  position:absolute;
  left:2px;
  top:32px;
  width:94px;
  word-wrap:break-word;
}
#u8130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:81px;
}
#u8130 {
  position:absolute;
  left:1555px;
  top:479px;
  width:98px;
  height:80px;
}
#u8131 {
  position:absolute;
  left:2px;
  top:32px;
  width:94px;
  word-wrap:break-word;
}
#u8132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:81px;
}
#u8132 {
  position:absolute;
  left:1660px;
  top:479px;
  width:98px;
  height:80px;
}
#u8133 {
  position:absolute;
  left:2px;
  top:32px;
  width:94px;
  word-wrap:break-word;
}
#u8134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000000;
}
#u8134 {
  position:absolute;
  left:1561px;
  top:310px;
  width:34px;
  height:16px;
  font-size:13px;
  color:#000000;
}
#u8135 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u8136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u8136 {
  position:absolute;
  left:1776px;
  top:307px;
  width:27px;
  height:16px;
  font-size:13px;
}
#u8137 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u8138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u8138 {
  position:absolute;
  left:1566px;
  top:394px;
  width:34px;
  height:16px;
  font-size:13px;
}
#u8139 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u8140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000000;
}
#u8140 {
  position:absolute;
  left:1668px;
  top:310px;
  width:48px;
  height:55px;
  font-size:13px;
  color:#000000;
}
#u8141 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u8142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u8142 {
  position:absolute;
  left:1666px;
  top:398px;
  width:34px;
  height:16px;
  font-size:13px;
}
#u8143 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u8144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u8144 {
  position:absolute;
  left:1772px;
  top:398px;
  width:34px;
  height:16px;
  font-size:13px;
}
#u8145 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u8146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u8146 {
  position:absolute;
  left:1566px;
  top:486px;
  width:34px;
  height:16px;
  font-size:13px;
}
#u8147 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u8148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u8148 {
  position:absolute;
  left:1674px;
  top:486px;
  width:40px;
  height:16px;
  font-size:13px;
}
#u8149 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u8150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:22px;
}
#u8150 {
  position:absolute;
  left:1628px;
  top:364px;
  width:29px;
  height:22px;
}
#u8151 {
  position:absolute;
  left:2px;
  top:3px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:22px;
}
#u8152 {
  position:absolute;
  left:1732px;
  top:364px;
  width:29px;
  height:22px;
}
#u8153 {
  position:absolute;
  left:2px;
  top:3px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:22px;
}
#u8154 {
  position:absolute;
  left:1837px;
  top:366px;
  width:29px;
  height:22px;
}
#u8155 {
  position:absolute;
  left:2px;
  top:3px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:22px;
}
#u8156 {
  position:absolute;
  left:1625px;
  top:451px;
  width:29px;
  height:22px;
}
#u8157 {
  position:absolute;
  left:2px;
  top:3px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:22px;
}
#u8158 {
  position:absolute;
  left:1732px;
  top:449px;
  width:29px;
  height:22px;
}
#u8159 {
  position:absolute;
  left:2px;
  top:3px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:22px;
}
#u8160 {
  position:absolute;
  left:1835px;
  top:449px;
  width:29px;
  height:22px;
}
#u8161 {
  position:absolute;
  left:2px;
  top:3px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:22px;
}
#u8162 {
  position:absolute;
  left:1626px;
  top:537px;
  width:29px;
  height:22px;
}
#u8163 {
  position:absolute;
  left:2px;
  top:3px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:22px;
}
#u8164 {
  position:absolute;
  left:1730px;
  top:537px;
  width:29px;
  height:22px;
}
#u8165 {
  position:absolute;
  left:2px;
  top:3px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:81px;
}
#u8166 {
  position:absolute;
  left:1764px;
  top:479px;
  width:98px;
  height:80px;
}
#u8167 {
  position:absolute;
  left:2px;
  top:32px;
  width:94px;
  word-wrap:break-word;
}
#u8168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:421px;
  background:inherit;
  background-color:rgba(12, 79, 101, 0.607843137254902);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8168 {
  position:absolute;
  left:44px;
  top:221px;
  width:358px;
  height:421px;
}
#u8169 {
  position:absolute;
  left:2px;
  top:202px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u8170 {
  position:absolute;
  left:68px;
  top:247px;
  width:161px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u8171 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u8172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u8172 {
  position:absolute;
  left:82px;
  top:337px;
  width:113px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u8173 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u8174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u8174 {
  position:absolute;
  left:82px;
  top:509px;
  width:141px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u8175 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u8176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u8176 {
  position:absolute;
  left:86px;
  top:567px;
  width:113px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u8177 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u8178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#00FFFF;
}
#u8178 {
  position:absolute;
  left:230px;
  top:333px;
  width:21px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#00FFFF;
}
#u8179 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u8180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#00FFFF;
}
#u8180 {
  position:absolute;
  left:235px;
  top:510px;
  width:41px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#00FFFF;
}
#u8181 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u8182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#00FFFF;
}
#u8182 {
  position:absolute;
  left:235px;
  top:567px;
  width:21px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#00FFFF;
}
#u8183 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u8184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u8184 {
  position:absolute;
  left:82px;
  top:389px;
  width:113px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u8185 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u8186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#00FFFF;
}
#u8186 {
  position:absolute;
  left:230px;
  top:388px;
  width:41px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#00FFFF;
}
#u8187 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u8188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u8188 {
  position:absolute;
  left:84px;
  top:445px;
  width:113px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u8189 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u8190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#00FFFF;
}
#u8190 {
  position:absolute;
  left:229px;
  top:448px;
  width:41px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#00FFFF;
}
#u8191 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u8192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:562px;
  height:93px;
  background:inherit;
  background-color:rgba(12, 79, 101, 0.729411764705882);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:23px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8192 {
  position:absolute;
  left:674px;
  top:86px;
  width:562px;
  height:93px;
}
#u8193 {
  position:absolute;
  left:2px;
  top:38px;
  width:558px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u8194 {
  position:absolute;
  left:856px;
  top:114px;
  width:161px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u8195 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u8196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:245px;
  background:inherit;
  background-color:rgba(12, 79, 101, 0.6);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:34px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8196 {
  position:absolute;
  left:534px;
  top:707px;
  width:810px;
  height:245px;
}
#u8197 {
  position:absolute;
  left:2px;
  top:114px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u8198 {
  position:absolute;
  left:558px;
  top:731px;
  width:161px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u8199 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u8200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:821px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
}
#u8200 {
  position:absolute;
  left:549px;
  top:842px;
  width:821px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
}
#u8201 {
  position:absolute;
  left:0px;
  top:0px;
  width:821px;
  word-wrap:break-word;
}
#u8202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:826px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
}
#u8202 {
  position:absolute;
  left:546px;
  top:882px;
  width:826px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
}
#u8203 {
  position:absolute;
  left:0px;
  top:0px;
  width:826px;
  word-wrap:break-word;
}
#u8204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:857px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u8204 {
  position:absolute;
  left:542px;
  top:795px;
  width:857px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u8205 {
  position:absolute;
  left:0px;
  top:0px;
  width:857px;
  word-wrap:break-word;
}
#u8206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:68px;
  background:inherit;
  background-color:rgba(49, 85, 90, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8206 {
  position:absolute;
  left:534px;
  top:962px;
  width:136px;
  height:68px;
}
#u8207 {
  position:absolute;
  left:2px;
  top:26px;
  width:132px;
  word-wrap:break-word;
}
#u8208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(49, 85, 90, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u8208 {
  position:absolute;
  left:558px;
  top:978px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u8209 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:68px;
  background:inherit;
  background-color:rgba(49, 85, 90, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8210 {
  position:absolute;
  left:665px;
  top:962px;
  width:136px;
  height:68px;
}
#u8211 {
  position:absolute;
  left:2px;
  top:26px;
  width:132px;
  word-wrap:break-word;
}
#u8212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(49, 85, 90, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u8212 {
  position:absolute;
  left:689px;
  top:978px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u8213 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:68px;
  background:inherit;
  background-color:rgba(49, 85, 90, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8214 {
  position:absolute;
  left:801px;
  top:963px;
  width:136px;
  height:68px;
}
#u8215 {
  position:absolute;
  left:2px;
  top:26px;
  width:132px;
  word-wrap:break-word;
}
#u8216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(49, 85, 90, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u8216 {
  position:absolute;
  left:825px;
  top:979px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u8217 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:68px;
  background:inherit;
  background-color:rgba(49, 85, 90, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8218 {
  position:absolute;
  left:937px;
  top:962px;
  width:136px;
  height:68px;
}
#u8219 {
  position:absolute;
  left:2px;
  top:26px;
  width:132px;
  word-wrap:break-word;
}
#u8220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(49, 85, 90, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u8220 {
  position:absolute;
  left:961px;
  top:978px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u8221 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:68px;
  background:inherit;
  background-color:rgba(49, 85, 90, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8222 {
  position:absolute;
  left:1073px;
  top:963px;
  width:136px;
  height:68px;
}
#u8223 {
  position:absolute;
  left:2px;
  top:26px;
  width:132px;
  word-wrap:break-word;
}
#u8224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
  background:inherit;
  background-color:rgba(49, 85, 90, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u8224 {
  position:absolute;
  left:1097px;
  top:979px;
  width:97px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u8225 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u8226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:68px;
  background:inherit;
  background-color:rgba(49, 85, 90, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8226 {
  position:absolute;
  left:1208px;
  top:964px;
  width:136px;
  height:68px;
}
#u8227 {
  position:absolute;
  left:2px;
  top:26px;
  width:132px;
  word-wrap:break-word;
}
#u8228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(49, 85, 90, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#00CCFF;
}
#u8228 {
  position:absolute;
  left:1232px;
  top:980px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#00CCFF;
}
#u8229 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
